/* FLEX */

.on-row{
    display: flex;
    flex-direction: row;
}
.on-col{
    display: flex;
    flex-direction: column;
}
.on-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.on-left{
    display: flex;
    align-items: start;
    justify-content: left;
}
.on-right{
    display: flex;
    align-items: end;
    justify-content: right;
}
.swap{
    flex-direction: row-reverse;
}
.swap-all-childrens * {
    flex-direction: row-reverse;
}
.wrap{
    flex-wrap: wrap;
}
.no-wrap{
    flex-wrap: nowrap;
}
.space-between{
    justify-content: space-between;
}

/* SIZES */

.w100{
    width: 100%;
}
.h100{
    height: 100%;
}

.fit-content{
    width: fit-content;
    height: fit-content;
}

/* BORDERS */

.circle{
    border-radius: 50%;
}

/* TEXT & FONT */

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.bold{
    font-weight: bold;
}
.text-nowrap{
    text-wrap: nowrap !important;
}

/* VISIBILITY */

.hide-overflow{
    overflow: hidden;
}
.HIDE, .HIDE-2, .hide{
    display: none;
}

/* EFFECTS */

.rotate90, .rotate-left{
    transform: rotate(90deg);
}
.rotate180{
    transform: rotate(180deg);
}
.rotate-right{
    transform: rotate(270deg);
}

/* LAYERS */

.z0{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.z1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.z2{
    position: absolute;
    top: 0px;
    left: 0px;
}

/* INTERACTIONS */

.no-user-select{
    user-select: none;
}
.link{
    cursor: pointer;
}
.scrollY{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* scroll-snap-type: y proximity;
    scroll-snap-stop: always */
}
/* .scrollY> div{
    scroll-snap-align: start;
    scroll-snap-stop: always;
} */